{% extends "kitchen/index.html" %}


{% block login %}
  <head>
    {% block title %}<title>Sign in - Kitchen Service</title>{% endblock %}
    {% load static %}
    <link href="{% static 'css/sign-in.css' %}" rel="stylesheet"/>

  </head>
  <body class="text-center">
  <main class="form-signin w-100 m-auto">
    <form method="post">
      {% csrf_token %}
      <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

      <div class="form-floating mb-2">
        <input type="text" name="username" class="form-control" id="floatingInput" placeholder="Username" required>
        <label for="floatingInput">Username</label>
      </div>
      <div class="form-floating mb-2">
        <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password"
               required>
        <label for="floatingPassword">Password</label>
      </div>

      <button class="btn btn-lg btn-light fw-bold border-white bg-white w-100" type="submit">Sign in</button>
    </form>
  </main>
  </body>
{% endblock %}
