{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'kitchen:index' %}">Kitchen Service</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'kitchen:dish-types-list' %}">Dish Types</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'kitchen:dish-list' %}">Dishes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'kitchen:ingredient-list' %}">Ingredients</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'kitchen:cook-list' %}">Cooks</a>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto">
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link disabled" tabindex="-1" aria-disabled="true">
              Logged in as {{ user.username }}
            </a>
          </li>
          <li class="nav-item">
            <form method="post" action="{% url 'logout' %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-outline-light ms-2">Logout</button>
            </form>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
