{% extends "base.html" %}

{% block content %}
  <h1>
    Cook list
    <a href="{% url 'kitchen:cook-create' %}" class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>
  {% if cook_list %}
    <ul>
      {% for cook in cook_list %}
        <li>
          <a href="{% url "kitchen:cook-detail" pk=cook.id %} ">{{ cook.id }}</a>
          {{ cook.username }} ({{ cook.first_name }} {{ cook.last_name }}) {{ cook.years_of_experience }}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no cooks in kitchen</p>
  {% endif %}

{% endblock %}