{% extends "base.html" %}

{% block content %}
  <h1>
    Dish Type list
    <a href="{% url 'kitchen:dish-types-create' %}" class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>
  {% if dish_type_list %}
    <ul>
      {% for dish_type in dish_type_list %}
        <li>
          <a href="{% url "kitchen:dish-types-detail" pk=dish_type.id %} ">{{ dish_type.id }}</a>
          {{ dish_type.name }}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no dish types in menu</p>
  {% endif %}

{% endblock %}