{% extends "base.html" %}

{% block title %}<title>Dish Types</title>{% endblock %}


{% block content %}

<div class="container py-5">
  <h2 class="mb-4">Dish Types</h2>
  <div class="table-responsive modern-table">
    <table class="table mb-0">
      <thead>
        <tr>
          <th>#</th>
          <th>Dish Types</th>
          <th>Dishes</th>
        </tr>
      </thead>
      <tbody>
        {% for dish_type in dish_type_list %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td><strong>{{ dish_type.name }}</strong></td>
          <td>
            {% for dish in dish_type.dishes.all %}
              <a href="{% url 'kitchen:dish-detail' pk=dish.id %}"><span class="badge">{{ dish.name }}</span></a>
            {% empty %}
              <em>No dishes</em>
            {% endfor %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}